html{
    background-color: black;
}

body{
    text-align: center;
    font-size:30pt;
    color:white;
    overflow-x: hidden;
}

a{
    color:white;
    
    text-decoration: none;
}

a:hover{
    color:gray;
    cursor:grab
}

textarea{
    background-color: black;
    color:white;
    border-color: white;
}

input{
    background-color: black;
    color:white;
    border-color: white;
}

.icon{
    max-height: 40vh;
}

.icont{
    width: 20vw;
    padding-right:5vw;
    padding-left: 5vw;
}

.worktable, .worktabletext{
    margin-top: 25vh;
    margin-left: auto;
    margin-right: auto;
}

.worktabletext{
    position: relative;
    top:-40vh;
}




.icons{
    position:absolute;
}

.iconinfo:hover, .iconinfol:hover{
   opacity:1;
}

.iconsinfo{
    font-size: 1vw;
    position: absolute;
    margin-top: 10vh;
}

.indexbtn{
    -webkit-transform: scale(1.5,1);
    -moz-transform: scale(1.5,1);
    -ms-transform: scale(1.5,1);
    -o-transform: scale(1.5,1);
    transform: scale(1.5,1);
    margin-bottom:10vh;
    opacity: 1;
}

.c{
    position:absolute;
    right:48%;
    bottom:30%;
    transition:transform 10s ease-out 0s, -webkit-transform 10s ease-out 0s, -moz-transform 10s ease-out 0s, -ms-transform 10s ease-out 0s, -o-transform 10s ease-out 0s;
}

.c:hover, .l:hover, .r:hover{
    -webkit-transform: scale(1.5,5);
    -moz-transform: scale(1.5,5);
    -ms-transform: scale(1.5,5);
    -o-transform: scale(1.5,5);
    transform: scale(1.5,5);
}


.l{
    position:absolute;
    right:70%;
    bottom:30%;
    transition:transform 10s ease-out 0s, -webkit-transform 10s ease-out 0s, -moz-transform 10s ease-out 0s, -ms-transform 10s ease-out 0s, -o-transform 10s ease-out 0s;
}

.r{
    position:absolute;
    left:70%;
    bottom:30%;
    transition:transform 10s ease-out 0s, -webkit-transform 10s ease-out 0s, -moz-transform 10s ease-out 0s, -ms-transform 10s ease-out 0s, -o-transform 10s ease-out 0s;
}

.menubutton{
    position:fixed;
    top:-30pt;
    left:1vw;
    mix-blend-mode: difference;
}

.menubutton:hover{
    opacity:.5;
    cursor:grab;
}

.menu{
z-index: 2;
position:fixed;
text-align: left;
font-size: 15pt;
left:1vw;
mix-blend-mode: difference;
}

.contact{
    opacity: 0;
    visibility:hidden;
    position:relative;
    top:-18pt;
    transition: top .5s ease-out 0s, opacity .3s ease-in 0s, visibility .5s ease-out 0s;
}

.sideimgs{
    float:right;
    margin-left:5vw;
}

.sideimg{
    max-width:200pt;
}

.portimg{
    max-height: 80vh;
    max-width: 80vw;
}

.whiteborder{
    border:1px solid white;
}

.titleimg{
    max-height: 30vh;
    text-align: center;
}

.right{
    text-align: right;
}

.nomargin{
    margin:0;
}

.ourwork{
    opacity: 0;
    visibility:hidden;
    position:relative;
    top:-32pt;
    transition: top .5s ease-out 0s,  opacity .2s ease-in 0s,  visibility .5s ease-out 0s ;
} 

.about{
    opacity: 0;
    visibility:hidden;
    position:relative;
    top:-32pt;
    transition: top .5s ease-out 0s,  opacity .2s ease-in 0s,  visibility .5s ease-out 0s ;
} 

.header{

    font-size:15pt;
    
}

#contactform{
    width:200pt;
    height:30vh;
}

.bodytext{
    font-size: 15pt;
    line-height: 25pt;
}

.contents{
    text-align: left;
    max-width:90vw;
    margin-top:100pt;
    margin-left:5vw;
    margin-right: 5vw;
}

.staff{
    max-height: 200pt;
}


.logo{
    max-height:30vh;
}

.logo2{
    max-height: 30pt;
}

.center{
    text-align: center;
}



.mobs{
    display: none;
}

@media screen and (max-aspect-ratio:1/1){

.mobh{
    display: none;
}

.mobs{
    display: block;
}

.icon{
    max-height: 40vh;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-top: 10vh;
}

.portimg{
    max-width: 80vw;
}

.menubutton{
    left:3vw;
}

.menu{
    left:3vw;
    font-size: 20pt;
}

.logo{
    margin-top:-50pt;
    max-width:65vmin;
}

.c{
    display:inline-block;
    position:inherit;
}

.l{
    display:inline-block;
    position:inherit;
}

.r{
    display:inline-block;
    position:inherit;
}

.staff{
    max-width:70vw;
}

.titleimg{
    margin-top: -5vh;
    max-width: 70vw;
    text-align: center;
    float:none;
    margin-bottom: 5vh;
}

}
